@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Lora:wght@500;600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

strong {
  font-weight: bold;
}

body {
  color: #000;
  background-color: #fff;
  font-family: "DM Sans", Arial;
}

a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.pf__dark {
  background-color: #000;
  color: #fff;
}
.pf__dark a {
  color: #fff;
  border-color: #fff !important;
}
.pf__dark .active {
  color: #fff;
  border-color: #fff !important;
}
.pf__dark .pf__single__header__thumb img {
  border-color: #fff;
}

.pf__header__content {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}
.pf__header__logo {
  font-family: "Lora", "Times New Roman";
  font-size: 120px;
}
@media (max-width: 1024px) {
  .pf__header__logo {
    font-size: 80px;
  }
}
@media (max-width: 700px) {
  .pf__header__logo {
    font-size: 60px;
  }
}
.pf__header__options-contrast {
  font-family: "Lora", "Times New Roman";
  font-weight: 500;
  font-size: 20px;
  position: fixed;
  right: 40px;
  top: 105px;
  margin-top: 0px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -ms-transform-origin: right, top;
  -webkit-transform-origin: right, top;
  z-index: 3;
}
@media (max-width: 700px) {
  .pf__header__options-contrast {
    right: 10px;
    font-size: 18px;
  }
}
.pf__header__options-contrast span {
  cursor: pointer;
}
.pf__header__options-contrast .active {
  font-weight: 600;
  border-bottom: 2px solid #000;
}
.pf__header__options-contrast .active:hover {
  border-color: transparent;
}

.pf__bio {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: 400px;
}
.pf__bio__content {
  width: 80%;
}
@media (max-width: 700px) {
  .pf__bio__content {
    width: 90%;
  }
}
.pf__bio p {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .pf__bio p {
    font-size: 25px;
    line-height: 35px;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .pf__bio p {
    font-size: 18px;
    line-height: 27px;
  }
}

.pf__works {
  position: relative;
  width: 100%;
  background-color: #000;
  margin-top: 200px;
}
.pf__works__content {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}
.pf__works__title {
  font-size: 120px;
  color: #fff;
  font-family: "Lora", "Times New Roman";
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .pf__works__title {
    font-size: 80px;
  }
}
@media (max-width: 700px) {
  .pf__works__title {
    font-size: 60px;
  }
}
.pf__works__slider__item {
  position: relative;
}
.pf__works__slider__item__content {
  margin: 20px;
}
.pf__works__slider__item__thumb {
  border: 2px solid #fff;
  width: 100%;
  height: auto;
}
.pf__works__slider__item__info {
  text-align: center;
}
.pf__works__slider__item__info h2 {
  font-family: "Lora", "Times New Roman";
  font-size: 35px;
  line-height: 40px;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 600;
}
.pf__works__slider__item__info span {
  font-family: "Lora", "Times New Roman";
  font-size: 20px;
  line-height: 25px;
  color: #fff;
}
.pf__works__slider__item__info p {
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  margin-top: 30px;
}
.pf__works__slider__item__info__btn {
  display: inline-block;
  font-family: "Lora", "Times New Roman";
  font-size: 15px;
  color: #fff;
  border-bottom: 2px solid #fff;
  margin-top: 30px;
  padding: 0 4px 6px 0px;
  margin-bottom: 30px;
}
.pf__works__slider__item__info__btn:hover {
  border-color: transparent;
}
.pf__works__slider__btn-next {
  position: absolute;
  right: 40px;
  top: 50%;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .pf__works__slider__btn-next {
    right: 20px;
    font-size: 20px;
  }
}
.pf__works__slider__btn-prev {
  position: absolute;
  left: 40px;
  top: 50%;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .pf__works__slider__btn-prev {
    left: 20px;
    font-size: 20px;
  }
}

.pf__bio-aditional {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: 400px;
}
.pf__bio-aditional__content {
  width: 80%;
}
@media (max-width: 700px) {
  .pf__bio-aditional__content {
    width: 90%;
  }
}
.pf__bio-aditional p {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .pf__bio-aditional p {
    font-size: 25px;
    line-height: 35px;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .pf__bio-aditional p {
    font-size: 18px;
    line-height: 27px;
  }
}

.pf__contact {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: 400px;
}
.pf__contact__content {
  width: 80%;
}
.pf__contact__title {
  font-size: 120px;
  font-family: "Lora", "Times New Roman";
  margin-bottom: 120px;
}
@media (max-width: 1024px) {
  .pf__contact__title {
    font-size: 80px;
  }
}
@media (max-width: 700px) {
  .pf__contact__title {
    font-size: 60px;
  }
}
.pf__contact p {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .pf__contact p {
    font-size: 25px;
    line-height: 35px;
  }
}
@media (max-width: 700px) {
  .pf__contact p {
    font-size: 18px;
    line-height: 27px;
  }
}
.pf__contact a {
  display: inline-block;
  border-bottom: 2px solid #000;
}
.pf__contact a:hover {
  border-color: transparent;
}

.pf__footer__content {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 30px;
}
.pf__footer__social-links {
  display: inline;
  list-style: none;
  position: fixed;
  right: -52px;
  bottom: 150px;
  margin-top: 0px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -ms-transform-origin: right, top;
  -webkit-transform-origin: right, top;
}
@media (max-width: 700px) {
  .pf__footer__social-links {
    right: -76px;
  }
}
.pf__footer__social-links li {
  display: inline-block;
  font-family: "Lora", "Times New Roman";
  font-size: 20px;
  margin: 0px;
}
@media (max-width: 700px) {
  .pf__footer__social-links li {
    font-size: 18px;
  }
}
.pf__footer__social-links li a {
  margin-left: 30px;
  border-bottom: 2px solid #000;
}
.pf__footer__social-links li a:hover {
  border-color: transparent;
}
.pf__footer p {
  font-family: "Lora", "Times New Roman";
  font-size: 15px;
}

.pf__single__content {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}
@media (max-width: 1024px) {
  .pf__single__content {
    width: 100%;
  }
}
.pf__single__header {
  text-align: center;
}
.pf__single__header__thumb {
  text-align: center;
  width: 100%;
}
@media (max-width: 1024px) {
  .pf__single__header__thumb {
    width: 90%;
    position: relative;
    margin: 0 auto;
  }
}
.pf__single__header__thumb img {
  border: 2px solid #000;
  width: 80%;
  height: auto;
}
.pf__single__header__btn-home {
  display: inline-block;
  position: relative;
  font-family: "Lora", "Times New Roman";
  font-size: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  border-bottom: 2px solid #000;
}
.pf__single__header__btn-home:hover {
  border-color: transparent !important;
}
.pf__single__info {
  text-align: center;
  width: 70%;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .pf__single__info {
    font-size: 20px;
    line-height: 25px;
    width: 90%;
  }
}
.pf__single__info h2 {
  font-family: "Lora", "Times New Roman";
  font-size: 60px;
  line-height: 70px;
  margin-top: 120px;
  margin-bottom: 10px;
  font-weight: bold;
}
@media (max-width: 1024px) {
  .pf__single__info h2 {
    font-size: 40px;
    line-height: 45px;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .pf__single__info h2 {
    font-size: 30px;
    line-height: 35px;
  }
}
.pf__single__info span {
  font-family: "Lora", "Times New Roman";
  font-size: 60px;
  line-height: 70px;
}
@media (max-width: 1024px) {
  .pf__single__info span {
    font-size: 40px;
    line-height: 45px;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .pf__single__info span {
    font-size: 30px;
    line-height: 35px;
  }
}
.pf__single__info p {
  font-size: 30px;
  line-height: 40px;
  margin-top: 120px;
  margin-bottom: 150px;
}
@media (max-width: 1024px) {
  .pf__single__info p {
    font-size: 20px;
    line-height: 25px;
    width: 100%;
  }
}
.pf__single .wp-block-image {
  width: 100%;
  height: auto;
  margin-bottom: 150px;
}
.pf__single .wp-block-image img {
  width: 100%;
  height: auto;
}
.pf__single__control-links {
  display: block;
  list-style: none;
  text-align: center;
}
.pf__single__control-links li {
  display: inline-block;
  font-family: "Lora", "Times New Roman";
  font-size: 20px;
  margin: 0px;
}
@media (max-width: 700px) {
  .pf__single__control-links li {
    font-size: 18px;
  }
}
.pf__single__control-links li a {
  border-bottom: 2px solid #000;
}
.pf__single__control-links li a:hover {
  border-color: transparent !important;
}
.pf__single__control-links li:nth-child(2) {
  margin-left: 120px;
}
@media (max-width: 700px) {
  .pf__single__control-links li:nth-child(2) {
    margin-left: 60px;
  }
}

.pf__404__content {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
@media (max-width: 1024px) {
  .pf__404__content {
    width: 90%;
  }
}
.pf__404 img {
  border: 2px solid #fff;
  width: 80%;
  height: auto;
}
.pf__404__info {
  text-align: center;
  width: 70%;
  position: relative;
  margin: 0 auto;
}
.pf__404__info__btn {
  display: inline-block;
  position: relative;
  font-family: "Lora", "Times New Roman";
  font-size: 20px;
  border-bottom: 2px solid #fff;
  padding: 0 4px 6px 0px;
  margin-bottom: 30px;
}
.pf__404__info__btn:hover {
  border-color: transparent !important;
}
.pf__404 h2 {
  font-family: "Lora", "Times New Roman";
  font-size: 50px;
  line-height: 60px;
  margin-top: 60px;
  margin-bottom: 10px;
  font-weight: bold;
}
@media (max-width: 1024px) {
  .pf__404 h2 {
    font-size: 40px;
    line-height: 45px;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .pf__404 h2 {
    font-size: 30px;
    line-height: 35px;
  }
}
.pf__404 p {
  font-size: 20px;
  line-height: 30px;
  margin-top: 60px;
  margin-bottom: 80px;
}
@media (max-width: 1024px) {
  .pf__404 p {
    font-size: 20px;
    line-height: 25px;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
